<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>404</title>
    <link rel="shortcut icon" href="./images/books.ico" type="image/x-icon">
    <meta name="description" content="Book search">
    <meta name="author" content="Vitalina">
    <link type="text/css" href="./stylesheets/style_search.css" rel="stylesheet"/>
    <link type="text/css" href="/stylesheets/style_bar.css" rel="stylesheet"/>
</head>

<body> 
    <% include partials/navbar %>
    <h1>404 Not Found</h1>
</body>

</html>