<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Контакти</title>
    <link rel="shortcut icon" href="/images/books.ico" type="image/x-icon">
    <meta name="description" content="Contacts">
    <meta name="author" content="Vitalina">
    <link type="text/css" href="/stylesheets/style_bookX.css" rel="stylesheet"/>
    <link type="text/css" href="/stylesheets/style_bar.css" rel="stylesheet"/>
</head>

<body>
<% include partials/navbar %>
    <table>
        <tr>
            <th></th>
            <td><h1> Контакти</h1></td>
        </tr>
        <tr>
            <th><img src="https://telegram.org/img/td_icon.png" alt="Telegram" width="50" height="50" /></th>
            <td><h3> @Vitalina29</h3></td>
        </tr>
        <tr>
            <th><img src="https://lh6.ggpht.com/8-N_qLXgV-eNDQINqTR-Pzu5Y8DuH0Xjz53zoWq_IcBNpcxDL_gK4uS_MvXH00yN6nd4=w300" alt="Email" width="50" height="50" /></th>
            <td><h3> reckless.vita@gmail.com</h3></td>
        </tr>
    </table><br>
</body>

</html>