<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Книжковий світ</title>
    <link rel="shortcut icon" href="/images/books.ico" type="image/x-icon">
    <meta name="description" content="Book">
    <meta name="author" content="Vitalina">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link type="text/css" href="/stylesheets/style_world.css" rel="stylesheet"/>
    <link type="text/css" href="/stylesheets/style_bar.css" rel="stylesheet"/>
</head>

<body>
<% include partials/navbar %>

<a href='/books'>
<div class="tinim">
    <img src="../images/bg4.jpg" />
    <div class="text">
        <h6>Книги</h6>
        <span>Колекція книг сайту. Ви можете переглядати книги та додавати нові.</span>
</div> 
</div> </a>

<a href='/authors'>
<div class="tinim">
    <img src="../images/bg5.jpg" class="image" />
    <div class="text">
        <h6>Автори</h6>
        <span>Автори книг, представлених на сайті та інші. Можете додавати нових.</span>
</div> 
</div> </a>

</body>

</html>